.container-fluid
    .row
        .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
            %h1.text-center Edit News Item

        .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
            %h1.text-center Representative: #{link_to @representative.name, representative_profile_path(@new_id)}
        .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
            %h1.text-center Issue: #{@issue}
        .col-md-8.offset-md-2
            = form_tag representative_save_article_path(issue: @issue), method: :post do
                .radio
                    %label
                        %input{ name: 'article', type: 'radio', value: ApplicationHelper.convert(@articles, 0, @issue) }
                        Title: #{@articles[0].title}
                        %br
                        Description: #{@articles[0].description}
                        %br
                        URL:
                        = link_to @articles[0].url, article_path(link: @articles[0].url),
                        target: :_blank, rel: 'noopener'
                        %br
                .radio
                    %label
                        %input{ name: 'article', type: 'radio', value: ApplicationHelper.convert(@articles, 1, @issue) }
                        Title: #{@articles[1].title}
                        %br
                        Description: #{@articles[1].description}
                        %br
                        URL:
                        = link_to @articles[1].url, article_path(link: @articles[1].url),
                        target: :_blank, rel: 'noopener'
                        %br
                .radio
                    %label
                        %input{ name: 'article', type: 'radio', value: ApplicationHelper.convert(@articles, 2, @issue) }
                        Title: #{@articles[2].title}
                        %br
                        Description: #{@articles[2].description}
                        %br
                        URL:
                        = link_to @articles[2].url, article_path(link: @articles[2].url),
                        target: :_blank, rel: 'noopener'
                        %br
                .radio
                    %label
                        %input{ name: 'article', type: 'radio', value: ApplicationHelper.convert(@articles, 3, @issue) }
                        Title: #{@articles[3].title}
                        %br
                        Description: #{@articles[3].description}
                        %br
                        URL:
                        = link_to @articles[3].url, article_path(link: @articles[3].url),
                        target: :_blank, rel: 'noopener'
                        %br
                .radio
                    %label
                        %input{ name: 'article', type: 'radio', value: ApplicationHelper.convert(@articles, 4, @issue) }
                        Title: #{@articles[4].title}
                        %br
                        Description: #{@articles[4].description}
                        %br
                        URL:
                        = link_to @articles[4].url, article_path(link: @articles[4].url),
                        target: :_blank, rel: 'noopener'
                Rating
                %br
                = select :rating, :rating, %w[1 2 3 4 5], { include_blank: true }
                %br
                .actions
                    = submit_tag 'Save', class: 'btn btn-primary'
            %br
            = link_to representative_news_items_path(@representative), class: 'mx-1 btn btn-info' do
                View all news articles
                %i.fas.fa-arrow-right
